scripts/selenium-flashscore/geckodriver.log
scripts/selenium-flashscore/postgame.pyc
__pycache__/
credentials.env
credentials_bot.env
redditutils.egg-info/
.vscode
geckodriver
reddit_utils/flair-dm/el_flairs.db