reddit_utils/selenium-flashscore/geckodriver.log
reddit_utils/selenium-flashscore/postgame.pyc
reddit_utils/flair-dm/el_flairs.db
redditutils.egg-info/
__pycache__/
.vscode
geckodriver
geckodriver.log
credentials.env
credentials_bot.env